<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Netflix</title>
  </head>
  <body>
    <header class="showcase">
      <div class="showcase-top">
        <img src="./img/t.png" alt="logo" />
        <a href="/signin" class="btn btn-rounded">Sign in</a>
      </div>
      <div class="showcase-content">
        <h1>What's next</h1>
        <p>Watch anywhere cancel anytime</p>
        <a href="" class="btn btn-xl"
          >Watch free fore 30 days <i class="fas-fa-chevron-right-btn-icon"></i
        ></a>
      </div>
    </header>
  </body>
</html>
