<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Sign in</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="/img/logo.jpg" alt=""/></a>
    </header>
    <a href="/signup" id="left">Sign up</a>
    <div class="form-control">
      <form action="/signin" method="POST">
        <input
          class="item"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          class="item"
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Sign in</button>
      </form>
    </div>
  </body>
</html>
