body {
  background: #000;
  margin: 0;
}
header img {
  width: 50%;
  height: 300px;
  margin-left: 300px;
  margin-top: 0;
  padding-top: 0;
}
#left {
  margin-left: 600px;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
  border-radius: 5px;
}

.form-controller {
  margin-top: 100px;
}

form input {
  height: 30px;
  display: block;
}
.item {
  font-size: 15px;
  text-align: center;
  margin-right: 100px;
  margin-top: 30px;
  margin-left: 540px;
}
button {
  background: #e50914;
  color: #fff;
  border-radius: 2px;
  height: 40px;
  width: 400px;
  margin-bottom: 100px;
  margin-left: 450px;
  margin-top: 70px;
  outline: none;
  border: 1px solid #000;
}

input:enabled {
}
